{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{.Title}} - MeshBan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui/static/style.css">
</head>
<body>
<header>
    <h1>MeshBan WebUI</h1>
    <div>Version: {{.Version}}</div>

    {{if ne .Title "Login"}}
        <form method="post" action="/ui/logout" class="logout-form">
            <button class="secondary-button" type="submit">Logout</button>
        </form>
    {{end}}
</header>

<main>
    {{template "content" .}}
</main>
</body>
</html>
{{end}}
